# Node modules
/node_modules

# Environment variables
.env

# Hardhat artifacts and cache
/artifacts
/cache

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor configurations
.vscode/

# Build output
/build
